<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fui_ic_apple_white_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fui_ic_apple_white_24dp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessengerChat">
        <activity
            android:name=".BasketActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.com.example.NewsApp.store_activity" />
        </activity>
        <activity android:name=".infoUser" />
        <activity android:name=".cubs_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".com.example.NewsApp.store_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".com.example.NewsApp.main_news_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".com.example.messengerchat.calendar_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".com.example.messengerchat.team_list_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".LatestMessageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.messengerchat.ForgotPass" />
        <activity android:name=".com.example.messengerchat.Settings_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".com.example.messengerchat.AnalyticsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".QuizActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
        <activity android:name=".ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.NewsApp.LatestMessageActivity" />
        </activity>
    </application>

</manifest>